@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: hoves-pro;
  src: url("assets/fonts/TT Hoves Pro Trial Light.ttf");
}

html,
body {
  font-family: hoves-pro;
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
